# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit install-hooks
exclude: '^(\.tox|ci/templates|\.bumpversion\.cfg|.*\.patch)(/|$)'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: debug-statements
  - repo: https://github.com/psf/black
    rev: 23.10.1
    hooks:
      - id: black
        args: ["--config", "python/cucim/pyproject.toml"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.1
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix, --exit-non-zero-on-fix, --config, "python/cucim/pyproject.toml"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: ["--toml", "python/cucim/pyproject.toml"]
        additional_dependencies:
          - tomli
  - repo: https://github.com/rapidsai/pre-commit-hooks
    rev: v0.4.0
    hooks:
      - id: verify-alpha-spec
        args: ["--fix", "--mode=release"]
  - repo: https://github.com/rapidsai/dependency-file-generator
    rev: v1.19.0
    hooks:
        - id: rapids-dependency-file-generator
          args: ["--clean"]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ["--severity=warning"]
