Sphinx==4.5.0
sphinx-autobuild
myst-parser
sphinx-book-theme
numpy
matplotlib
ipywidgets
pandas
nbclient
myst-nb
sphinx-togglebutton
sphinx-copybutton
plotly<5
sphinxcontrib-bibtex<2.0.0 # https://github.com/executablebooks/jupyter-book/issues/1137
sphinx-thebe
sphinx-panels
ablog
docutils==0.16 # 0.17 causes error. https://github.com/executablebooks/MyST-Parser/issues/343
pydata_sphinx_theme
sphinxemoji
cupy-cuda110
scipy
scikit-image
