# https://packaging.python.org/guides/using-manifest-in/
graft docs
graft src
graft ci
graft tests

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig

include VERSION
include AUTHORS.md
include CHANGELOG.md
include CONTRIBUTING.md
include ../../LICENSE
include ../../LICENSE-3rdparty.md
include README.md

include tox.ini .travis.yml .appveyor.yml .readthedocs.yml

include src/cucim/clara/*.so*

recursive-include src/cucim *.py *.pyi *.cu *.h *.npy *.txt *.md

global-exclude *.py[cod] __pycache__/*
