# https://packaging.python.org/guides/using-manifest-in/
graft src
graft tests

include .editorconfig

include src/cucim/VERSION
include CHANGELOG.md
include CONTRIBUTING.md
include LICENSE
include LICENSE-3rdparty.md
include README.md

include src/cucim/clara/*.so*

recursive-include src/cucim *.py *.pyi *.cu *.h *.npy *.txt *.md

global-exclude *.py[cod] __pycache__/*
